@charset "utf-8";

*{
    margin: 0px;
    padding: 0px;
}

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root{
   --font1:verdana, Geneva, Tahoma, sans-serif;
   --font2: 'Passion One', cursive;
   --font3:'Sriracha', cursive;


}

html, body{
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--font1);
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

h1{
    padding-top: 50px;
    text-transform: uppercase;
    font-family: var(--font2);
}

padding > p {
    padding-bottom: 50px;
}

a{
    color:white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover{
    text-decoration: underline;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--font3);
}

section.normal{
    background-color: white;
    color: black;
}

section.imagem{
    background-color: aqua;
    color: white;
}

section.imagem p{
    width: 400px;
    background-color: rgb(100, 98, 98);
}

footer{
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}