@charset "utf-8";

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    min-height: 100vh;
    background-color: darkgray;
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

h1{
    padding-top: 50px;
    text-transform: uppercase;
}

padding > p {
    padding-bottom: 50px;
}

a{
    color:white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover{
    text-decoration: underline;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}

section.normal{
    background-color: white;
    color: black;
}

section.imagem{
    background-color: aqua;
    color: white;
}

section.imagem p{
    width: 400px;
    background-color: rgb(100, 98, 98);
}

footer{
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}