@charset "utf-8";

*{
    margin: 0px;
    padding: 0px;
}

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root{
   --font1:verdana, Geneva, Tahoma, sans-serif;
   --font2: 'Passion One', cursive;
   --font3:'Sriracha', cursive;

}

html, body{
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--font1);
}

header{
    background-color: black;
    color: white;
    text-align: center;
    padding-bottom: 20px;
}

h1{
    padding-top: 50px;
    text-transform: uppercase;
    font-family: var(--font2);
    font-size: 2em;
    padding-bottom: 15px;
}

header> p {
    padding-bottom: 15px;
}

a{
    color:white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover{
    text-decoration: underline;
}


section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--font3);
}

section p{
    padding-bottom: 10px;
}

section.normal{
    background-color: white;
    color: black;
}

section.imagem{
    background-color: black;
    color: white;
    box-shadow: 6px 6px 13px 0px black;
    background-size: cover;
    background-attachment: fixed;
}

section.imagem p{
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.514);
    text-shadow: 1px 1px 0px black;
}

#img01{
    background-image: url('imagens/background001.jpg');
    background-position: right center;

}

#img02{
    background-image: url('imagens/background002.jpg');
    background-position: left center;
    
}

footer{
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}